body {
  background-image: url("./img/full-img.avif");
  background-color: #444444;
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
  background-attachment: fixed;
}
nav {
  color: #fdcc7a;
  width: 80%;
  max-width: 600px;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  align-items: top;
  margin-top: 1.5rem;
  gap: 10px;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
input {
  height: 30px;
  width: 350px;
}
.submit-button {
  cursor: pointer;
  height: 30px;
  background-color: #ffc053;
  width: 350px;
}

.hero-header {
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
  background-attachment: fixed;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
}

a {
  color: #ffc053;
  text-decoration: none;
}

.bg {
  width: 100%;
  display: flex;
  justify-content: center;
}

.border {
  width: 80%;
  max-width: 600px;
  text-transform: uppercase;
  color: #ffc053;
  display: grid;
  padding: 2rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  border: solid;
  border-color: #ed6c02;
  border-radius: 1%;
}
.book {
  width: 65%;
}

.books-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 0.5rem;
  margin-top: 4rem;
  gap: 20px;
}

.book-card-img {
  background-image: url("./img/full-img.avif");
  background-color: #2125a279;
  background-position: center;
  background-size: cover;
  background-blend-mode: luminosity;
  height: 100px;
  display: flex;
  justify-content: end;
  align-items: end;
  flex-direction: column;
  color: #fafafa;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.lib-books-container {
  padding: 1rem;
  display: flex;
  max-width: 450px;
  flex-flow: wrap;
  justify-content: space-between;
  align-items: baseline;
  gap: 15px;
}

.li-book {
  width: 120px;
}
.library-author {
  width: 30%;
}
.library-book {
  background-image: url("./img/full-img.avif");
  background-color: #291c7274;
  background-position: center;
  background-size: cover;
  background-blend-mode: color-dodge;
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #fafafa;
}

h1 {
  font-weight: 500;
  font-style: bold;
}

.color {
  color: #ed6c02;
}

.liked-icon {
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 5px;
}
.actions {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  font-size: 1.5rem;
}

.left {
  font-size: 2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.right {
  font-size: 2rem;
  font-family: "Times New Roman", Times, serif;
}

.close-button {
  width: 20%;
}
.audio-player {
  text-align: center;
  background: rgb(227, 227, 227);
  padding: 10px;
}
audio {
  width: 400px;
}
audio::-webkit-media-controls-panel {
  background: rgb(227, 227, 227);
}

@media screen and (max-width: 650px) {
  .border {
    width: 90%;
    min-width: min-content;
  }
  nav {
    width: 95%;
  }
  .book {
    min-width: 200px;
  }
  .books-container {
    width: 100%;
  }
  .book-card-img {
    min-height: 130px;
  }
  audio {
    max-height: 100%;
    max-width: 100%;
    margin: auto;
    object-fit: contain;
  }
  .li-book {
    max-width: 100%;
  }
  .lib-books-container {
    min-width: 100%;
  }
}
.player {
  width: 500px;
  margin: auto;
  margin-top: 5rem;
}
